.App {
  text-align: center; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-back{
  background-color: #4f9be8;
}

.form {
  position: relative;
  z-index: 1;
  background: #d3dcf1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 35px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.formLogin {
  position: relative;
  z-index: 1;
  background: #d3dcf1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 35px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding-top: 15px;
  padding-bottom: 15px;
}
.formRegister {
  position: relative;
  z-index: 1;
  background: #d3dcf1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 35px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding-top: 15px;
  padding-bottom: 15px;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.appName{
  margin-bottom: 40px;
  margin-top: 20px;
  font:Monaco;
}

.homeButton{
  margin-right: 30px;
}

.title{
  margin-bottom: 15px;
}

.formsubmit{
  margin-top: 15px;
}

.popupclose{
  margin-top: 20px
}
.popuptext{
  font-variant: normal;
}
.popup {  
  position: fixed;  
  width: 300px;  
  height: 150px;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: #44484c;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);  
}  
.popup_inner {  
  position: absolute;  
  left: 10%;  
  right: 10%;  
  top: 25%;  
  bottom: 100%;  
  margin: auto;  
  border-radius: 20px;  
  background: #44484c; 
}

.alert {  
  position: fixed;  
  width: 300px;  
  height: 50px;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: #44484c;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);  
  margin-top: 15px;
}  
.alert_inner {  
  position: absolute;  
  left: 10%;  
  right: 10%;  
  top: 25%;  
  bottom: 100%;  
  margin: auto;  
  border-radius: 20px;  
  background: #44484c; 
}

.disabled{
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.profilefont{
  font-size: larger;
  font-weight: 600;
}

.profilepage {
  position: relative;
  z-index: 1;
  background: #d3dcf1;
  max-width: 800px;
  margin: 0 50px 100px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}